# LLM Configuration
LLM_PROVIDER=openai
LLM_MODEL=
OPENAI_API_KEY=
LLM_BASE_URL=https://openrouter.ai/api/v1

# Wake Word
WAKE_WORD=玉米糊

# Application
CONTINUOUS_MODE=false

# MCP tools configuration (optional)
MCP_CONFIG=./config/mcp_config.json


MINIMAX_API_KEY=
# 可选（已有默认值）
MINIMAX_TTS_MODEL=speech-2.8-hd
MINIMAX_TTS_VOICE=male-qn-qingse
MINIMAX_TTS_SPEED=1.0